@import 'tailwindcss';

body {
	@apply bg-gray-950;
}

@theme {
	--font-mono:
		'Maple Mono NF', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}
